<footer class="footer fixed-bottom">
    <div class="container">
      <div class="row">
      <p class="col-6">Hecho por Nelly Ramírez <br>
        <a  class="links" href="https://github.com/nellalela?tab=repositories"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a  class="links" href="https://twitter.com/nellalela"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a  class="links" href="https://www.linkedin.com/in/nellyaramirez/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </p>

      <p  class="col-6"><b>Con información de:</b> <br>
        <a class="links" href="http://www.mexicoconectado.gob.mx/">mexicoconectado.gob.mx </a> <br>
        <a  class="links" href="https://datos.gob.mx/">datos.gob.mx</a>
      </p>

      </div>
    </div>
  </footer>
