h2
    color white
    padding-left: 50px 
    background-color: #EE5616
    margin auto
    width: 90%
    font-weight: 600
    padding-top: 20px
    padding-bottom: 15px
     



       

 .txt
     padding-top: 20px
     color #6A6A6A
     width: 90%
     margin auto
     font-size: 18px

     b
        font-size: 22px

.fuente
    font-size: 14px
    font-weight: bold

.line
    fill none
    stroke #ffab00
    stroke-width 3

.circle
    fill #ffab00
    stroke #fff