<div class=" container about">
  <div class='row'>
    <h2>¿Qué es México Conectado?</h2>
  </div>
</div>
<div class='container txt'>
  <p>
      México Conectado es un proyecto del Gobierno de la República que contribuye a garantizar el derecho constitucional de acceso al servicio de Internet de banda ancha (artículo 6to. constitucional).<br><br>
      
      Para lograr dicho objetivo, México Conectado despliega redes de telecomunicaciones que proveen conectividad en los sitios y espacios públicos tales como escuelas, centros de salud, bibliotecas, centros comunitarios o parques, en los tres ámbitos de gobierno: federal, estatal y municipal.<br><br>
      
      A través del proyecto México Conectado cada vez más estudiantes y maestros tienen acceso a la banda ancha en su escuela o universidad; cada vez más médicos y funcionarios de salud cuentan con conectividad en su clínica o centro de salud, y cada vez más ciudadanos disfrutan de conexión gratuita a Internet en algún sitio o espacio público, como bibliotecas o centros comunitarios.<br><br>
      
      Fuente: SCT 
  </p>
</div>