.about
    color white
    padding-left: 50px 
    background-color: #08708A

    h2 
        font-weight: 600
        padding-top: 20px
        padding-bottom: 15px

 .txt
     padding-top: 20px
     color #0C353C