.map
    text-align: center
    padding-top: 20px

h2 
    padding-top: 30px
    padding-left: 50px
    color: #08708a
    font-weight: 600

p
    
    padding-left: 50px
    color: #08708A
    font-weight: 600

.sec2
    padding-bottom 50px


