#gmap 
    width: 300px
    height: 100px

.stations, .stations svg 
        position absolute 
    

    .stations 
        svg 
            width: 60px
            height 20px
            padding-right: 100px
        circle 
         fill brown 
         stroke black 
         stroke-width: 1.5px

.sec2 
    padding-bottom: 50px
    padding-left: 100px
