#gmap 
    height: 700px
    width: 800px
   


.stations, .stations svg 
        position absolute 
    

    .stations 
        svg 
            width: 60px
            height 20px
            padding-right: 100px
        circle 
         fill brown 
         stroke black 
         stroke-width: 1.5px

.sec2 
    padding-bottom: 50px
    padding-left: 100px

h2 
 color #0076B0
 margin-top: 50px

p
 color #636363
