#gmap
    height: 700px
    width: 90%

  .stations, .stations svg
          position absolute


      .stations
          svg
              width: 60px
              height 20px
              padding-right: 100px
          circle
          fill brown
          stroke black
          stroke-width: 1.5px

  h2
  color #0076B0
  margin-top: 50px

  p
  color #636363


  .content
      height: 500px
      width: 500px

.cont
    background-color: #0076AE
    color white
    height 100%

  fieldset, label
      margin 0
      padding 0

  h1
      font-size 1.5em
      margin 10px
