agm-map
    height: 700px
    width: 1100px

#map
    text-align: center
    padding-top: 20px
    width: 500px
    height: 100%
    margin 0
    
    .stations, .stations svg 
        position absolute 
    

    .stations 
        svg 
            width: 60px
            height 20px
            padding-right: 100px
        circle 
         fill brown 
         stroke black 
         stroke-width: 1.5px

h2 
    padding-top: 30px
    padding-left: 50px
    color: #08708a
    font-weight: 600

p
    
    padding-left: 50px
    color: #08708A
    font-weight: 600

.sec2
    padding-bottom 50px
    padding-left: 50px

svg 
    width: 60px
    height: 20px


