
.cont
    background-color: #0076AE
    width: 550px
    height: auto
    margin-left: 100px
    padding 25px
    color white
    

fieldset, label
    margin 0
    padding 0




h1
    font-size 1.5em
    margin 10px

.rating
    border none
    float left
    & > input
        display none
    & > label
        color white
        float right
        &:before
            margin 5px
            font-size 1.25em
            font-family FontAwesome
            display inline-block
            content "\f005"
    & > .half
        &:before
            content "\f089"
            position absolute

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label
    color #FFD700

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label
    color #FFED85

.btn
    color #636363