<div class="container-fluid mg">
    <h2>Nuestros Datos</h2>
    
    <ul class="nav nav-tabs tab">
        <li class="nav-item color">
          <a class="nav-link active color" routerLink="donuts">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color" routerLink="scatter">Proveedor por ubicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color" routerLink="treemap">Estatus por proveedor</a>
        </li>
        
      </ul>
      
</div>

