.bg
    background-image: url("/assets/newheader.jpg")
    height 100%
    background-size auto
    background-position: right 
    background-color:  #DADADA
    background-repeat: no-repeat
    padding: 65px
    
    text-align: left
    opacity: .95

.text
    color #636363
    padding-left: 50px
    

    h1 
        font-weight:  bolder
    
    h3 
        font-weight: 600
        padding-top: 10px

    h4 
        font-weight: 600

hr
    height: 5px
    color: #EE5616
    background-color: #EE5616
    border none
